/*** Fonts ***/

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Montez');

/*** Body ***/
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Josefin Slab','Helvetica Neue', Arial, sans-serif;
    background-color: #202020;
    color: #C9C9C9;
}
/*** Navigation ***/
.navbar-brand {
	font-family: "Kaushan Script";
}
.prime {
	font-family: "Josefin Slab";
	font-size: 1.3em;
	/*font-color: #C9C9C9;*/
}
a {
    color: #FFFFFF;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4;
}


/** Header **/
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.3em;
	/*padding-top: 25%*/;
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/full-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

hr {
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

header .picture {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}
header .picture .one h1 {
    margin-top: 0;
    margin-bottom: 0;
}
header .picture .one p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}
/*** quotes ***/
.quote {
	background-color: #0D0D0D;
	margin: 0;
	padding: 0;
	width: 100%;
}
#inner-quote {
	font-family: "Kaushan Script", Arial;
}

/*** About ***/
#about img {
	width: 150px; 
	border-radius: 25%;
    margin-top: 30px;
    border: 2px solid #2D2D2D;
}
#about {
	background-image: url('../assets/grey.jpg');
	text-align: center;
	color: #fafafa;
	background-size: cover;
	min-height: 100%;
	padding: 25px 0;
	min-height: 50%;
}
#subtitle{
	font-size: 333%;
	font-family: "Montez";
}
.profile span {
	text-align: center;
}
#small-header{
	text-align: left;
	margin-left: 9.75%;
	font-style: italic;
	text-decoration: underline;
}
.about-blurb{
	font-size: .9em;
}
.aboutp{
	text-align: left;
	font-size: 1.3em;
	margin-left: 9%;
	margin-right: 9%;
}
hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}


/***** General Responsive Design *****/

@media (min-width : 20px) and (max-width : 766px) {
	header {
    position: relative;
    min-height: 100%;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}
    /*header .fancy {
    	margin: -20%;
    }
    header .smaller{
    	margin: 21%;
    }
	header .picture {
	    position: absolute;
	    top: 50%;
	    padding: 0 50px;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
    }
    header .picture .one {
	    margin-right: auto;
	    margin-left: auto;
	    max-width: 1000px;
    }
    header .picture .one h1 {
        font-size: 53px;
    }
    header .picture .one p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}*/

@media(min-width:767px) {
header {
    position: relative;
    min-height: 100%;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/full-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy{
	margin-top: 200px;
	font-size: 3em;
}
.smaller {
	text-transform: none;

/*	padding-bottom: 20%;*/
}
}
/*    header {
        min-height: 100%;
    }*/
/*    header .picture {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);*/
    /*}*/
/*    header .picture .one {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;*/
   /* }*/
    
/*    header .picture .one p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;*/
/*    }
}*/

/* NEXUS (portrait and landscape) ----------- */
/* Smartphone (Nexus 4) */
@media screen and (device-width : 384px) and (device-height : 640px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait){
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy{
	margin-top: 200px ;
	font-size: 3em;
}
.smaller {
	text-transform: none;
/*	padding-bottom: 20%;*/
}
}

@media screen and (device-width: 640px) and (device-height : 384px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape){
  header {
    position: relative;
    min-height: 384px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}

/* Smartphone (Nexus 5 and Nexus 5X) */
@media screen and (device-width : 360px) and (device-height : 640px) {
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}

@media screen and (device-width : 640px) and (device-height : 360px) {
  header {
    position: relative;
    min-height: 384px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 1.1em !important;
	padding-top: 150px;
}
.fancy{
	margin-top: -175px;
}

.smaller {
	text-transform: none;
	font-size: 1.3em;
/*	padding-bottom: 70%;*/
}
}

/* Smartphone (Nexus 6) (Nexus 6P) */
@media screen and (device-width : 412px) and (device-height : 732px) {
  header {
    position: relative;
    min-height: 732px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}

@media screen and (device-width : 732px) and (device-height : 412px) {
  header {
    position: relative;
    min-height: 412px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.8em;
	padding-top: 3%;
}
.fancy{
	margin-top: -20px;
}

.smaller {
	font-size: 1.5em;
	text-transform: none;
	padding-bottom: 35%;

}
}

/* Tablet (Nexus 7) */
@media screen and (device-width : 600px) and (device-height : 960px) {
  header {
    position: relative;
    min-height: 960px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
}

@media screen and (device-width : 960px) and (device-height : 600px) {
  header {
    position: relative;
    min-height: 600px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/full-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.8em;
	padding-top: 3%;
}
.fancy{
	margin-top: -20px;
}

.smaller {
	font-size: 1.5em;
	text-transform: none;
/*	padding-bottom: 35%;*/

}
}

/* Tablet (Nexus 10) */
@media screen and (device-width : 800px) and (device-height : 1280px) {
  header {
    position: relative;
    min-height: 1280px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }

.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.8em;
	padding-top: 3%;
}
.fancy{
	margin-top: 300px !important; 
}

.smaller {
	font-size: 1.5em;
	text-transform: none;
	/*padding-bottom: 35%;*/
}
}

@media screen and (device-width : 1280px) and (device-height : 800px) {
  header {
    position: relative;
    min-height: 800px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.8em;
	padding-top: 3%;
}
.fancy{
	margin-top: -150px;
}

.smaller {
	font-size: 1.5em;
	text-transform: none;
	/*padding-bottom: 35%;*/
}
}

/* IPHONE AND IPAD (Portrait and Landscape) */

/* Smartphone (iPhone 4) */
@media screen and (device-width : 320px) and (device-height: 480px) {
  header {
    position: relative;
    min-height: 480px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 1.9em;
	padding-top: 3%;
}
.fancy{
	margin-top: 175px;
}

.smaller {
	text-transform: none;
	font-size: .9em;
}
}

@media screen and (device-width : 480px) and (device-height : 320px) {
  header {
    position: relative;
    min-height: 320px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2em;
	padding-top: 3%;
}
.fancy{
	margin-top: 125px;
}

.smaller {
	text-transform: none;
	font-size: .9em;
	/*padding-bottom: 5%;*/
}
}

/* Smartphone (iPhone 5) */
@media screen and (device-width : 320px) and (device-height: 568px) {
  header {
    position: relative;
    min-height: 568px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 1.9em;
	padding-top: 3%;
}
.fancy{
	/*margin-top: 230px;*/
}

.smaller {
	text-transform: none;
	font-size: .9em;
}
}

@media screen and (device-width : 568px) and (device-height : 320px) {
  header {
    position: relative;
    min-height: 320px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2em;
	padding-top: 3%;
}
.fancy{
	margin-top: 125px;
}

.smaller {
	text-transform: none;
	font-size: .9em;
	/*padding-bottom: 5%;*/
}
}

/* Smartphone (iPhone 6) */
@media screen and (device-width : 375px) and (device-height: 667px) {
  header {
    position: relative;
    min-height: 667px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.1em;
	padding-top: 3%;
}
.fancy{
	margin-top: 145px;
}

.smaller {
	text-transform: none;
	font-size: .95em;
}
}

@media screen and (device-width : 667px) and (device-height : 375px) {
  header {
    position: relative;
    min-height: 375px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.5em;
	padding-top: 3%;
}
.fancy{
	margin-top: -15px;
}

.smaller {
	text-transform: none;
	font-size: .95em;
	/*padding-bottom: 5%;*/
}
}

/* Smartphone (iPhone 6 Plus) */
@media screen and (device-width : 414px) and (device-height: 736px) {
  header {
    position: relative;
    min-height: 736px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.5em;
	padding-top: 3%;
}
.fancy{
	margin-top: 145px;
}

.smaller {
	text-transform: none;
	font-size: .95em;
}
}

@media screen and (device-width : 736px) and (device-height : 414px) {
  header {
    position: relative;
    min-height: 414px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.9em;
	padding-top: 3%;
}
.fancy{
	margin-top: -15px;
}

.smaller {
	text-transform: none;
	font-size: 1.1em;
	/*padding-bottom: 5%;*/
}
}

/* iPad (iPad Mini and Standard) */
@media screen and (device-width : 768px) and (device-height: 1024px) {
  header {
    position: relative;
    min-height: 1024px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.3em;
	padding-top: 3%;
}
.fancy{
	margin-top: 250px;
}

.smaller {
	text-transform: none;
	font-size: 1em;
}
}

@media screen and (device-width : 1024px) and (device-height : 768px) {
/***********DEFAULT*******/
  header {
    position: relative;
    min-height: 768px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.9em;
	padding-top: 3%;
}
.fancy{
	margin-top: -15px;
}

.smaller {
	text-transform: none;
	font-size: 1.1em;
	padding-bottom: 5%;
}
}

/* iPad (iPad Pro) */
@media screen and (device-width : 1024px) and (device-height: 1366px) {
  header {
    position: relative;
    min-height: 1366px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.5em;
	padding-top: 3%;
}
.fancy{
	margin-top: -150px;
}

.smaller {
	text-transform: none;
	font-size: 1.25em;

}
}

@media screen and (device-width : 1366px) and (device-height : 1024px) {
  header {
    position: relative;
    min-height: 1024px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/full-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.5em;
	padding-top: 3%;
}
.fancy{
	margin-top: -15px;
}

.smaller {
	text-transform: none;
	font-size: 1.25em;
	padding-bottom: 5%;
}
}

/****** GALAXY DEVICES*****/
/* Phone (Galaxy Note 3 + II + Galaxy S III + Galaxy S5) */
@media screen and (device-width : 360px) and (device-height: 640px) {
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.5em;
	/*padding-top: 3%;*/
}
.fancy{
	margin-top: 100px;
}

.smaller {
	text-transform: none;
	font-size: 0.95em;

}
}

@media screen and (device-width : 360px) and (device-height : 640px) {
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.5em;
	padding-top: 3%;
}
.fancy{
	margin-top: -15px;
}

.smaller {
	text-transform: none;
	font-size: 1.25em;
	padding-bottom: 5%;
}
}

/***** BLACKBERRY DEVICES
/* Phone (BlackBerry Z30) - Same as Galaxy - */
/*@media screen and (device-width : 360px) and (device-height: 640px) {
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.5em;
	/*padding-top: 3%;*/
/*}
.fancy{
	margin-top: 100px;
}

.smaller {
	text-transform: none;
	font-size: 0.95em;

}
}

@media screen and (device-width : 360px) and (device-height : 640px) {
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.5em;
	padding-top: 3%;
}
.fancy{
	margin-top: -15px;
}

.smaller {
	text-transform: none;
	font-size: 1.25em;
	padding-bottom: 5%;
}
}*/

/* Tablet (BlackBerry Playbook) */
@media screen and (device-width : 600px) and (device-height: 1024px) {
  header {
    position: relative;
    min-height: 1024px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.3em;
	/*padding-top: 3%;*/
}
.fancy{
	margin-top: 300px;
}

.smaller {
	text-transform: none;
	font-size: 1.25em;

}
}

@media screen and (device-width : 1024px) and (device-height : 600px) {
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/full-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3.5em;
	padding-top: 3%;
}
.fancy{
	margin-top: -15px;
}

.smaller {
	text-transform: none;
	font-size: 1.25em;
	padding-bottom: 5%;
}
}
/***** VARIOUS DEVICES *****/
/* LG Phone (LG Optimus L70) */
@media screen and (device-width : 384px) and (device-height: 640px) {
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.5em;
	/*padding-top: 3%;*/
}
.fancy{
	margin-top: 100px;
}

.smaller {
	text-transform: none;
	font-size: 0.95em;

}
}

@media screen and (device-width : 640px) and (device-height : 384px) {
  header {
    position: relative;
    min-height: 384px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/full-image1.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3em;
	padding-top: 30%;
}
.fancy{
	margin-top: -70px;
}

.smaller {
	text-transform: none;
	font-size: .95em;
	padding-bottom: 5%;
}
}

/* Tablet Kindle (Kindle Fire) */
@media screen and (device-width : 1600px) and (device-height: 2560px) {
  header {
    position: relative;
    min-height: 2560px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 8em;
	/*padding-top: 3%;*/
}
.fancy{
	margin-top: 750px !important;
}

.smaller {
	text-transform: none;
	font-size: 2.5em;

}
}

@media screen and (device-width : 2560px) and (device-height : 1600px) {
  header {
    position: relative;
    min-height: 1600px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 8em;
	padding-top: 3% !important;
}
.fancy{
	margin-top: -10% !important;
}

.smaller {
	text-transform: none;
	font-size: 2.5em;
	padding-bottom: 5%;
}
}

/* Nokia Phone (Nokia Lumia 520) */
@media screen and (device-width : 320px) and (device-height: 533px) {
  header {
    position: relative;
    min-height: 533px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2em;
	/*padding-top: 3%;*/
}
.fancy{
	margin-top: 85px;
}

.smaller {
	text-transform: none;
	font-size: 0.8em;

}
}

@media screen and (device-width : 533px) and (device-height : 320px) {
  header {
    position: relative;
    min-height: 320px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3em;
	padding-top: 30%;
}
.fancy{
	margin-top: -175px;
}

.smaller {
	text-transform: none;
	font-size: .95em;
	padding-bottom: 5%;
}
}

/* Nokia Phone/Microsoft (Nokia N9 and Lumia 550) */
@media screen and (device-width : 360px) and (device-height: 640px) {
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.5em;
	/*padding-top: 3%;*/
}
.fancy{
	margin-top: 100px;
}

.smaller {
	text-transform: none;
	font-size: 0.95em;

}
}

@media screen and (device-width : 640px) and (device-height : 360px) {
  header {
    position: relative;
    min-height: 360px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3em;
	/*padding-top: 30%;*/
}
.fancy{
	margin-top: -170px;
}

.smaller {
	text-transform: none;
	font-size: .95em;
	padding-bottom: 5%;
}
}

/* Microsoft (Microsoft Lumia 950) */
@media screen and (device-width : 360px) and (device-height: 640px) {
  header {
    position: relative;
    min-height: 640px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 2.5em;
	/*padding-top: 3%;*/
}
.fancy{
	margin-top: 100px;
}

.smaller {
	text-transform: none;
	font-size: 0.95em;

}
}

@media screen and (device-width : 640px) and (device-height : 360px) {
  header {
    position: relative;
    min-height: 360px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('../assets/cell-image2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fancy {
	font-family: "Montez";
	text-transform: none;
	font-size: 3em;
	padding-top: 30%;
}
.fancy{
	margin-top: -200px;
}

.smaller {
	text-transform: none;
	font-size: .95em;
	padding-bottom: 5%;
}
}

